---
title: "Data cleaning"
formal: pdf
# see ./_quarto.yml to change other options
# (e.g., author, date (default: last time this file was edited), ...)
# these options apply to all .qmd files in the project 
# you can also change these options here
# but this will apply just to this file
---

```{r}
#| label: setup

{{ atoms.r_data_setup }}
df <- read_csv("./data/raw/data.csv", show_col_types = FALSE)
```

{{ atoms.r_data_clean }}

{{ atoms.r_data_write }}
