---
title: "{{ atoms.paper.title }}"
# date automatically set to today
date: "`r Sys.Date()`"
# see ./_quarto.yml to change other options
# (e.g., author, rendering format (pdf by default), ...)
# these options apply to all .qmd files in the project 
---

```{r}
#| label: setup
#| echo: false

{{ atoms.r_data_setup }}
df <- read_csv("./data/data.csv", show_col_types = FALSE)
```

# Introduction

{{ atoms.intro.md }}

# Data

{{ atoms.r_data_clean }}

# Results

{{ atoms.r_analysis }}

{{ atoms.results1.md }}

```{r}
#| label: tbl-table
#| tbl-cap: {{ atoms.paper.table_caption }}

modelsummary(models)
```

```{r}
#| label: fig-figure
#| fig-cap: {{ atoms.paper.figure_caption }}

modelplot(models)
```

{{ atoms.results2.md }}

# References
